<div>
<H1>Login Here:</H1>
  <form action='/users' method='post' >
    <ul>
      <li>
        <label for='user[username]'>username:</label>
        <input type='text' name='user[username]' placeholder='username' />
      </li>
      <li>
        <label for='user[password]'>password:</label>
        <input type='password' name='user[password]' placeholder='password' />
      </li>
    </ul>
    <input type='submit' value='login'>
  </form>

<H1>Register Here:</H1>
  <form action='/sessions' method='post'>
    <ul>
      <li>
        <label for='user[username]'>username:</label>
        <input type='text' name='user[username]' placeholder='username' />
      </li>
      <li>
        <label for='user[password]'>password:</label>
        <input type='password' name='user[password]' placeholder='password' />
      </li>
    </ul>
    <input type='submit' value='register'>
  </form>
</div>


<!-- <div>
  <form action='/sessions' method='post'>
    <ul>
      <li><input type='text' name='email' placeholder='email' /></li>
      <li><input type='password' name='password' placeholder='password' /></li>
    </ul>
    <input type='submit' value='login'/>
  </form>
</div> -->
