.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background: limegreen;
}

th {
  text-align: left;
}


/* basic elements */
.error_message {
  margin-top: 2em;
  background-color: red;
  font-size: 4em
}

html{
  background-image: url("http://img13.deviantart.net/3115/i/2013/016/3/8/the_fox_and_the_frog_by_sunsetthedragon-d5qz4lt.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height:100%;
}
body{
  padding:100px;
  font-family:Trebuchet MS,Arial;
  font-size:80%;
}


h1{
  padding:0;
  margin:0;
}

h2{
  float:left;
  margin:5px 0 5px 20px!important;
  margin:5px 0 5px 15px;
  padding:0 10px 5px 7px;
  width:840px;
  font-weight:normal;
  font-size:18px;
  color:#666;
  background: url(shad_bg.jpg) left bottom no-repeat;
}
h3{
  float:left;
  width:840px;
  font-weight:normal;
  font-size:16px;
  color:#666;
  margin:5px 0 5px 20px!important;
  margin:5px 0 5px 15px;
  padding:0 10px 5px 7px;
  background: url(shad_bg.jpg) left bottom no-repeat;
}
a{  color:mediumvioletred; background: limegreen; font-weight:700; text-decoration:none; outline:none;}
a:hover{color:#777;text-decoration:none;outline:none;}

ul,li,dl,dt,dd{
  list-style-type:none;
  margin:0;
  padding:0;
}
