<!-- <section class="transparent"> -->

  <div class="right_wrong">
    <% if @right_or_wrong %>
    <p><%= @right_or_wrong %></p>
    <% end %>
    <br>
    <a href='/rounds/<%=@guess.round.id%>/cards/<%=@new_card.id%>'>Next Question</a>
  </div>

<!-- </section> -->