<div class="question">

  <p> Welcome to the <%= @deck.name %> flashcard game!</p>

  <form action='/rounds' method='post'>
    <input type="hidden" name="deck_id" value=<%=@deck.id%> >
    <input type='submit' value='Start Game!' />
  </form>
</div