<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>The Flashcardashians</title>
</head>
<body>
  <div id="container">
  <div id="header">
    <h1><a href="/">Chorus-Foxes Flashcard Mania!</a></h1>
  <nav>
      <% if logged_in? %>
        <a href="/users/<%=current_user.id%>"><%=current_user.username%></a> | <a href="https://en.wikipedia.org/wiki/Main_Page">I'm not ready to play yet</a> | <a href="/logout">logout</a>
      <% else %>
        <a href="/login">register or login</a>
      <% end %>
  </nav>
  </div>
  <div id="body">
    <%= yield %>
  </div>
  <div id="footer">
  </div>
</body>
</html>